
.item-outer {
  display: flex;
  background-color:#3F729B ;
  margin: 10px;
  height: 230px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.item-inner{
  color: #FFF9E5;
  text-align: center;
}

.nothing-to-show{
  flex: 1;  
  text-align: center;
}

.grid {
  background-color: #eeeeee;
}

